* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display:flex;
  justify-content: center;
  align-items: center;
}

.delete {

  color:rgb(198, 233, 233);
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(206, 18, 18);
}

h1 {
  font-size: 16px;
}

.container-tweet {
  border-radius: 10px;
  height: 400px;
  width: 500px;
  background-color: rgb(87, 184, 151);
}

.message {
  padding: 16px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: rgb(176, 189, 185);
}
