* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2E132C;
}

.flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.post {
  background-color: #150714;
}

.form textarea {
  background-color: #2F112D;
}

.delete {
  color:rgb(198, 233, 233);
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(206, 18, 18);
}

h1, h4, p {
  font-size: 16px;
  color: white;
}

.container-tweet {
  border-radius: 10px;
  height: 400px;
  width: 500px;
  background-color: rgb(216, 157, 211);
}

.message {
  padding: 1rem 2rem;
  border: 1px solid rgb(151, 151, 206);
  border-radius: 6px;
  background-color: #2E132C;
}

span img {
  height: 16px;
}

.user-profile {
  margin-bottom: 20px;
}

.user-profile button {
  margin-left: 10px;
  padding: 10px;
}

.user-profile img {
  border-radius: 50%;
  margin-right: 10px;
}

.login-btn {
  margin: 20px;
  padding: 10px;
}
