* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2E132C;
}

.flex {
  display:flex;
  justify-content: center;
  align-items: center;
}

.post {
  background-color: #150714;
}

.form textarea {
  background-color: #2F112D;
}

.delete {
  color:rgb(198, 233, 233);
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgb(206, 18, 18);
}

h1 {
  font-size: 16px;
}

.container-tweet {
  border-radius: 10px;
  height: 400px;
  width: 500px;
  background-color: rgb(131, 228, 215);
}

.message {
  padding: 14px;
  border: 1px solid rgb(151, 151, 206);
  border-radius: 6px;
  background-color: rgba(236, 246, 255, 0.755);
}

span img {
  height: 16px;
}
